/* .pinpoint {
    position: absolute;
    max-width: 2em;
    z-index: 2;
    opacity: 30%;
} */

:root {
    --landinactive: #F5F4E7;
    --landactive: #FFD0E1;
}

svg>g>path {
    fill: var(--landinactive);
}

body {
    padding: 0;
    margin: 0;
}

.pinpoint {
    pointer-events: all;
    cursor: pointer;
    max-width: 2em;
    height: 1em;

    animation: fade-in 2s ease-in-out alternate infinite both;
    animation-delay: calc(2s * (var(--sibling-index) / var(--sibling-count)));

    @keyframes fade-in {
        from {
            opacity: 0;
            transform: scale(0);
        }
    }
}

#map-container {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    width: 100%;
}

/* 
.svg-pan-zoom-control {
    fill-opacity: 1 !important;
} */


.person-label img {
    width: 100%;
    max-width: 3em;
    border-radius: 1em;
}

svg {
    /* margin: auto; */
    width: 100%;
    height: 90vh;
    display: block;
    max-width: 1920px;
}

g>img {
    transition: opacity 0.3s ease;
    transition-delay: calc(sibling-index() * 100ms);
}